@model LoginWebApp.Models.UserModel
<style type="text/css=">
    h4 {
        animation:5s;
        color:aqua;
    }
</style>

<div>
    <h4>Login Successful</h4>
    <hr />
    
    <div>
        <a asp-action="Index">Log out</a>
    </div>
</div>

